<!DOCTYPE html>
<html>
<head>
  <title>Vue School Chat Room</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-firestore.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div id="chat" class="container">
  <h1>Vue School Chat Room</h1>
  <!-- Messages -->
  <div v-for="message in messages" class="card">
    <div class="card-body">
      <!-- nickname -->
      <h6 class="card-subtitle mb-2 text-muted">{{ message.nickname }}</h6>
      <!-- content -->
      <p class="card-text">{{ message.text }}</p>
    </div>
  </div>

  <hr>
  <!-- New Message -->
  <form @submit.prevent="storeMessage">
    <div class="form-group">
      <label>Message:</label>
      <textarea v-model="messageText" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Nickname:</label>
      <input v-model="nickname" class="form-control"/>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>


<script type="text/javascript">

  const config = {
    apiKey: "AIzaSyBMIwuEL3Wh-j6tU9jHRq97FeVqhsXb4kw",
    authDomain: "mpk-mytrip.firebaseapp.com",
    databaseURL: "https://mpk-mytrip.firebaseio.com",
    projectId: "mpk-mytrip",
    storageBucket: "mpk-mytrip.appspot.com",
    messagingSenderId: "642327630522",
    appId: "1:642327630522:web:2ae02187c7c3fce0"
  };

  // Initialize Firebase
  const app = firebase.initializeApp(config);
  const db = firebase.firestore(app);

  firebase.firestore(app).enablePersistence().catch((err) => {
      if (err.code === 'failed-precondition') {
        console.log(err);
      } else if (err.code === 'unimplemented') {
        console.log(err);
      }
    console.log(err.code);
  });


  console.log(db.collection("users").get());

  // db.collection("users").add({
  //   first: "Ada",
  //   last: "Lovelace",
  //   born: 1815
  // }).then((docRef) => {
  //   console.log("Document written with ID: ", docRef.id);
  // }).catch((error) => {
  //   console.error("Error adding document: ", error);
  // });

  new Vue({
    el: "#chat",

    data: {
      messages: [],
      messageText: '',
      nickname: 'hootlex'
    },

    methods: {
      storeMessage () {
        this.messages.push({text: this.messageText, nickname: this.nickname})
        this.messageText = ''
      }
    }
  })
</script>
</body>
</html>
